@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

:root{
    --primary-color: #047aed; /* can use this in everywhere */
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Lato', sans-serif;
    color: white;
    line-height: 1.6;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: white;
}
h1,
h2{
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
}

p{
    margin: 10px 0;
}

img{
    width: 100%;
}

/* Navbar */

.navbar{
    background-color: #047aed;
    color: #fff;
    height: 70px;
}

.navbar ul{
    display: flex;
}

.navbar a{
    color: white;
    padding: 10px;
    margin: 0 5px;
}

.navbar a:hover{
    border-bottom: 2px #fff solid;
}

.navbar .flex{
    justify-content: space-between;
}

/* Showcase */
.showcase{
    height: 400px;
    background-color: #047aed;
}


/* Utilities */
.container{
    max-width: 1100px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}